.quote-container{
    display: flex;
    flex-direction: column;
    padding: 55px;
    width: 50%;
    height: auto;
    border-radius: 10px;
    background-color: white;
}

.button-group{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

button{
    margin: 0px 5px;
}

.twitter-button{
    order:1;
    width: 1fr;
}

.tumblr-button{
    order: 2;
    width: 1fr;
}
.new-button{
    font-size: 16px;
    color: white;
    order:3;
    margin-left: auto;
}

.new-button:hover, .new-button:focus, .new-button:active{
    color: white;
}